* {
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin: 0;
}

.navbar {
    top: -100px;
    height: 80px;
    width: 100%;
    background-color: rgb(220, 241, 250);
    display: flex;
    z-index: 1;
    margin-top: 1px;
    opacity: 0;
    transition: top 10s ease-in-out;
    transition: opacity 0.7s ease-in-out; /* Smooth transition for the top property */
}

.navbar-visible {
    top: 0;
    opacity: 1;
}
#name_div {
    padding: 0 0 0 6.5%;
}

#name_logo {
    height: 80px;
} 

.home_tag_class {
    margin-top: 9px;
    height: 60px;
    width: 95px;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;

}

.home_tag_class:hover {
    border: 2px solid black;
    background-color: aqua;
    opacity: 100%;
    border-radius: 10%;
    align-items: center;
}

.education_tag_class {
    margin-top: 9px;
    height: 60px;
    width: 135px;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.education_tag_class:hover {
    border: 2px solid black;
    background-color: aqua;
    opacity: 100%;
    border-radius: 10%;
}

.experience_tag_class {
    margin-top: 9px;
    height: 60px;
    width: 160px;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.experience_tag_class:hover {
    border: 2px solid black;
    background-color: aqua;
    opacity: 100%;
    border-radius: 10%;
}


.projects_tag_class {
    margin-top: 9px;
    height: 60px;
    width: 130px;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projects_tag_class:hover {
    border: 2px solid black;
    background-color: aqua;
    opacity: 100%;
    border-radius: 10%;
}

.contactme_tag_class {
    margin-top: 9px;
    height: 60px;
    width: 170px;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactme_tag_class:hover {
    border: 2px solid black;
    background-color: aqua;
    opacity: 100%;
    border-radius: 10%;
} 

.web_website {
    width: 100%; /* Full width of viewport */
    height: 750px;
    overflow: hidden;
    position: relative;
    margin-top: 2px;
    

}

.slide {
    width: 100%; /* Full width of each slide */
    height: 100%; /* Full height of each slide */
    position: absolute; /* Position each slide */
    top: 0;
    left: 100%; /* Initially hide slides off-screen on the right */
    transition: left 0.5s ease; /* Smooth transition effect */
}


#web_image {
    width: 100%;
}

.slide img {
    width: 100%; /* Full width of images inside slides */
    height: 100%; /* Full height of images inside slides */
    object-fit: cover; /* Maintain aspect ratio */
}

.writing {
    color: white;
    z-index: 10;
    margin-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative; /* Required for absolute positioning */
    left: -100%; /* Start off-screen to the left */
    animation: slideInLeft 1.5s forwards; /* Animation definition */
}

#ajayendra_name {
    color: white;
    z-index: 10;
    margin-top: 10%;
    font-size: 70px;
    margin-left: 5%;
    margin-right: 60%;
}

#some_text {
    color: white;
    z-index: 11;
    margin-top: 2%;
    font-size: 35px;
    margin-left: 5%;
    margin-right: 45%;
}

@keyframes slideInLeft {
    0% {
        left: -100%; /* Start position */
    }
    100% {
        left: 0; /* End position */
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 241, 250);
    margin-top: 1px;
    margin-bottom: 1px;
}